.login >div >img{
    object-fit:contain;
    height:150px;
}
.login > div{
    display: flex;
    flex-direction: column;


}
.login{
    display:grid;
    place-items: center;
    height:100vh;

}
.login> button{
    width:300px;
    background-color: yellowgreen;
    color:#effef5;
    font-weight:800;
}
.login>button:hover{
    background-color: white;
    color:yellowgreen;

}
.login__logo> div{
    display: flex;
   justify-content: center;
   align-items: center;
}